.footer {
  margin-top: 3rem;
}

.container-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  padding: 3rem;
  border-top: 2px solid $color-light-gray;
  @media screen and (max-width: 660px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}

.footer-text {
  line-height: 2rem;
  color: $color-blue;
  @media screen and (max-width: 830px) {
    &:hover {
      color: $color-gray;
      cursor: pointer;
    }
  }
}

.footer-info {
  color: $color-gray;
  &:hover {
    color: $color-blue;
    cursor: pointer;
  }
  @media screen and (max-width: 830px) {
    display: none;
  }
}